@import '../../styles/secondary-page.scss';

.merchant-apply__status {
  background: $grad-brand-soft;
  border: 1px solid $color-border;
}

.merchant-apply__status-text {
  font-size: 14px;
  color: $color-primary-dark;
  font-weight: 600;
}
