@import '../../styles/secondary-page.scss';

.bank-cards__card-no {
  display: block;
  font-size: 16px;
  letter-spacing: 2px;
  color: $color-text;
  font-weight: 600;
  margin: 6px 0;
}

.bank-cards__form-toggle {
  display: block;
  text-align: center;
  color: $color-primary;
  font-size: 13px;
  font-weight: 500;
  margin: $spacing-sm 0 $spacing-md;
}
